@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  /* height: 100%;*/
}

body {
  background-image: linear-gradient(to right, #1790bf, #59c1d9);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #0D4C73;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #0D4C73;
  text-align: center;
  text-shadow: 1px 1px 2px #bfeff6;
}

h2 {
  color: #0D5673;
}

p {
  text-align: justify;
  color: black;
}